

/* .side-nav-div{
    padding: 10px 0px;
} */

.side-nav-div div {
  padding-left: 10px;
}

.side-nav-links {
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.2s;
}

.side-nav-links:hover {
  color: rgb(244, 240, 240);
  background-color: #ef8236;
}

.active {
  padding-left: 25px;
  font-weight: bolder;
  color: black;
  background-color: rgb(201, 194, 194);
  border-right: solid 5px #ef8236;
}

#questions {
  padding-bottom: 10px;
}

@media (min-width: 620px) and (max-width: 1200px) {
  

  /* .side-nav-div{
      padding: 10px 0px;
  } */

  .side-nav-div{
    width: 100%;
    
    border: 5px solid  grey;
  }

  .side-nav-links {
    width: 20%;
    padding-left: 10px;
    padding-top: 10px;
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.2s;
  }

  .side-nav-links:hover {
    color: rgb(244, 240, 240);
    background-color: #ef8236;
  }

  .active {
    padding-left: 25px;
    font-weight: bolder;
    color: black;
    background-color: rgb(201, 194, 194);
    border-right: solid 5px #ef8236;
  }

  #questions {
    padding-bottom: 10px;
  }
}
