.left-sidebar {
  padding-top: 22px;
  position: sticky;
  width: 150px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow ease-in-out 0.1s, transform ease-in-out;
  transform: translateZ(0);
  box-sizing: border-box;
  font-size: 15px;
  
}



/* .side-nav-div{
    padding: 10px 0px;
} */

.side-nav-div div {
  padding-left: 10px;
}

.side-nav-links {
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.2s;
}

.side-nav-links:hover {
  color: rgb(244, 240, 240);
  background-color: #ef8236;
}

.active {
  
  padding-left: 25px;
  font-weight: bolder;
  color: black;
  background-color: rgb(201, 194, 194);
  border-right: solid 5px #ef8236;
}

#questions{
  padding-bottom: 10px;
}
