body {
  
  background-color: rgb(255, 253, 253);
  
}
 .loginPage {
  display: block;
  padding-top: 7%;
  text-align: center;
  justify-content: center;
  align-items: center;
} 

form#loginform {
  display: block;
  width: 280px;
  text-align: left;
  background-color: #fff;
  
  margin: 3% auto;
  margin-bottom: 1%;
  padding:1.5%;
  padding-top: 2.5%;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px #beb4b4;
  box-shadow: 0 0 10px #b2abab;
}

#loginform input {
  font-size: 12px;
  margin: 0px;
  width: 100%;
  padding: 4% 4% 4% 4%;
  border: solid 0.4px #555353;
  border-radius: 3px;
}
h5#pass {
  margin-top: 1%;
  
  display: inline-block;
  position: absolute;
  
}
form #forgotpass {
  display: inline-block;
  text-decoration: none;
  color: blue;
  font-size: 13px;
  position: relative;
  margin-top: 7%;
  margin-left: 55%;
  
}
.password-container{
  margin-top: 5%;
}
.loginButton {
  margin-top: 1%;
  margin-bottom: 2%;
  padding-top: 2.5%;
  padding-bottom: 3%;
  height: 7%;
  width: 100%;  
  background-color: rgb(51, 158, 239);
  border: 1px solid rgb(51, 158, 239);
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}
.loginButton:hover {
  background-color: rgb(12, 109, 206);
}

#signuplink {
  font-size: 13px;
  text-decoration: none;
  color: blue;
}
p{
  display: inline-block;
  padding-right: 0.5%;
  font-size: 13px;
} 

@media (max-width:1300px) {
  .loginPage{
    padding-top: 25%;
  }
}


@media(max-width:780px){
  .loginPage{
    padding-top: 25%;
  }
  
  
}

@media(max-width:450px){
  .loginPage{
    padding-top: 40%;
  }
  form#loginform{
    margin-top: 10%;
    padding: 5%;
  }
}