body {
  
  background-color: rgb(255, 253, 253);
  
}
 .loginPage {
  display: block;
  padding-top: 7%;
  text-align: center;
  justify-content: center;
  align-items: center;
} 

form#loginform {
  display: block;
  width: fit-content;
  text-align: left;
  background-color: #fff;
  
  margin: 5% auto;
  margin-bottom: 1%;
  padding:4%;
  padding-right: 5.5%;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px #beb4b4;
  box-shadow: 0 0 10px #b2abab;
}

#loginform input {
  font-size: 23px;
  margin: 10px;
  width:100%;
  padding: 5% 0% 5% 1%;
  border: solid 0.4px #555353;
  border-radius: 3px;
}

h4#pass {
  display: inline-block;
  padding-right: 60px;
}

form #forgotpass {
  display: inline-block;
  text-decoration: none;
  color: blue;
  font-size: 13px;
}

.loginButton {
  margin: 2%;
  height: 10%;
  width: 103%;  
  background-color: rgb(51, 158, 239);
  border: 1px solid rgb(51, 158, 239);
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}
.loginButton:hover {
  background-color: rgb(12, 109, 206);
}

#signuplink {
  text-decoration: none;
  font-size: 13px;
  color: blue;
}

p {
  display: inline-block;
  padding-right: 20px;
  font-size: 13px;
} 
@media (max-width:1000px) {
  .loginPage{
    padding-top: 15%;
  }
}


@media(max-width:780px){
  .loginPage{
    padding-top: 25%;
  }
  form#loginform{
    padding-right: 7%;
  }
  
}