


@media (max-width:560px) {
    .verifypage{
        margin-top: 1.2%;
        /* line-height: 1.8rem; */
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }
    #verification{
        background-color: antiquewhite;
    }
    
    #verification form{
        /* border: 1px solid black; */
        width: 80%;
        margin-left: 20%;
        text-align: left;
        padding: 20px;
        box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%),
        0 1px 4px rgb(0 0 0 / 10%);
    }   
}

