



.ask-ques-container{
    
    display: inline-block;
    width:100%;
    text-align: center;

}
.ask-ques-container h1{
    display: block;
    padding-top: 5%;

}
.ask-ques-container h5{
    display: block;
    padding-top: 5%;

}


.ask-ques-container form .ask-form-container{
    padding: 20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 5%),
    -3px -3px 10px rgb(0 0 0 / 5%);
}

.ask-ques-container label h4{
    margin-bottom: 0%;

}

.ask-ques-container label p{
    margin: 0%;
    font-size: 13px;
    padding: 3px 0px;
}
.ask-form-container{
    
  
    width: 60%;
    margin:auto;
    margin-top: 2%;
    padding-left: 40%;
    line-height: 2.5rem;

}
.ask-form-container label input{
    padding: 10px;
    border: solid 1px #9657573e;
    font-family: 'Roboto','sans-serif';
    width: 100%;
    resize: vertical;
    border-radius: 5px;
}

.ask-form-container textarea{
    padding: 10px;
    border: solid 1px #dea6a63e;
    font-family: 'Roboto','sans-serif';
    width: 96%;
    resize: vertical;
    border-radius: 5px;
}


.review-btn{
    
    margin: auto;
    padding: 10px;
    background-color: #009dff;
    border: solid 1px #009dff;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    transition: 0.2s;
}

.review-btn:hover{
    background-color: #0086d8;
}

@media (max-width:1300px) {
    .ask-ques-container h1{
        display: block;
        padding-top: 15%;
    
    }    
    .ask-form-container{
    
        text-align: left;
        width: 80%;
        margin:auto;
        margin-top: 2%;
    
    }
}
@media (max-width:830px) {
    .ask-ques-container h1{
        display: block;
        padding-top: 20%;
    
    }    
    .ask-form-container{
    
        text-align: left;
        width: 80%;
        margin:auto;
        margin-top: 2%;
    
    }
}
@media (max-width:480px) {
    .ask-ques-container h1{
        display: block;
        padding-top: 32%;
    
    }    
    .ask-form-container{
    
        text-align: left;
        width: 80%;
        margin:auto;
        margin-top: 2%;
    
    }
}