
.home-main-bar{
  width:100%;
  
  
}
.intro-container {
  padding-left: 4%;
  width: 105%;
  padding-top: 0.4%;
}

.main-bar {
  width: 100%;
  float: left;
  margin: 60px 0px 0px 0px;
  padding: 0;
}

.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.intro-container h1 {
  font-weight: 400;
}

.intro-container .ask-btn {
  padding: 8px 15px;
  
  border-radius: 4px;
  background-color: #009dff;
  color: #fff;
  border: none;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}

.intro-container .ask-btn:hover {
  background-color: #0086d8;
}

.headimgs{
  display: inline-block;
  padding-top: 1vh;
  padding-left: 3vw;
  height: 60px;
  width: 100%;
}
.spinner_exchange{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 85vw;

}

.exchangehumain{
  display: flex;
  width: 75vw;
}


#noOfQuestions{
    margin-left: 5%;
    font-size: 22px;
    font-weight: bold;
}

.display-question-container {
  height: fit-content;
  border-radius: 5px;
  width: 105%;
  display: flex;
  align-items: center;
  background-color: #fdf7e2;
  /* border-bottom: 1px solid #807a7a; */
  margin-bottom: 15px;
  transition: 0.5s;
}
.display-question-container:hover{
  /* box-shadow:rgba(158, 158, 158, 0.25) 0px 4px 5px,
  rgba(207, 207, 207, 0.12) 0px 4px 5px, rgba(227, 227, 227, 0.12) 0px 4px 6px,rgba(227, 227, 227, 0.12) 0px 4px 6px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.display-question-container .display-votes-ans {
  padding: 1% 2% 1% 2%;
  margin: 0%;
  text-align: center;
}

.display-question-details {
  flex-grow: 1;
  padding: 0px 20px;
}

.question-title-link {
  text-decoration: none;
  color: #037ecb;
  transition: 0.2s;
}

.question-title-link:hover {
  color: #009dff;
}

.display-question-details p {
  padding: 4px;
  margin: 0%;
  
}

.question-detail-columns{
  font-weight: 400;
}

.display-tags-time .display-tags {
  display: flex;
  flex-wrap: wrap;
}
.favTags{
  border-radius: 5px;
}

.display-tags-time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.display-tags-time .display-tags p {
  margin: 4px;
  padding: 4px;
  font-size: 13px;
  background-color: #edeff0;
  color: #39739d;
}
.display-tags-time .display-time {
  font-size: 13px;
}


@media (max-width:780px) {
  .intro-container{
    margin: 1%;
    width: 95%;
    
  }
  .display-question-container {
    height: fit-content;
     width: 100%;
     display: flex;
     align-items: center;
     background-color: #fdf7e2;
     border-bottom: 1px solid #807a7a;
     margin-bottom: 5px;
   }

   .headimgs{
    display: inline-block;
    padding-top: 3vh;
    padding-left: 10vw;
    height: 60px;
    width: 100%;
  }
  
  .spinner_exchange{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 90vw;
  
  }
   .exchangehumain{
    width: 100vw;
    margin-left: -30px;
  }

}