/* .forgotpage{
    margin-top: 1.2%;
} */

/* #forgot-form{
    margin-top: 13%;
    margin-left: 15%;
} 
@media (max-width:1000px) {
    .forgotpage{
        margin-top: 10%;
    }
} */
form input{
    border: 2px solid black;
}
@media (max-width: 1150px) {
  #forgot-form {
    margin-top: 15%;
    /* margin-left: 0.4%; */
  }
}
