/* .forgotpage{
    margin-top: 1.2%;
} */

/* #forgot-form{
    margin-top: 13%;
    margin-left: 15%;
} 
@media (max-width:1000px) {
    .forgotpage{
        margin-top: 10%;
    }
} */
form#forgotfrom {
  display: block;
  width: 280px;
  text-align: left;
  background-color: #fff;

  margin: 3% auto;
  margin-bottom: 1%;
  padding: 1.5%;
  padding-top: 2.5%;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px #beb4b4;
  box-shadow: 0 0 10px #b2abab;
}
#forgot-form{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#forgotfrom input {
  font-size: 12px;
  margin: 0px;
  width: 156%;
  padding: 4% 4% 4% 4%;
  border: solid 0.4px #555353;
  border-radius: 3px;
}

input#reenter {
  width: 140%;
}
input#new {
  width: 170%;
}
.forgotreset {
  margin-top: 1%;
  margin-bottom: 2%;
  padding-top: 2.5%;
  padding-bottom: 11%;
  height: 7%;
  width: 100%;
  background-color: rgb(51, 158, 239);
  border: 1px solid rgb(51, 158, 239);
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}
.forgotreset:hover {
  background-color: rgb(12, 109, 206);
}
@media (max-width: 1150px) {
  #forgot-form {
    margin-top: 15%;
    /* margin-left: 0.4%; */
  }
}
@media (max-width: 900px) and (min-width: 450px) {
  .forgotreset {
    width: 96%;
    padding-bottom: 4%;
  }
  form#forgotfrom {
    padding-left: 3%;
  }
}
@media (max-width: 450px) {
  .forgotreset {
    width: 96%;
    padding-bottom: 4%;
  }
  form#forgotfrom {
    padding: 5.55%;
  }
  #forgotfrom input {
    font-size: 12px;
    margin: 0px;
    width: 135%;
    padding: 4% 4% 4% 4%;
    border: solid 0.4px #555353;
    border-radius: 3px;
  }
  
  input#reenter {
    width: 140%;
  }
  input#new {
    width: 145%;
  }
}
