.signup_page {
  padding-top: 4%;
  margin-left: 2%;
  width: 95%;
}
#signupleft {
  left: 0px;
}
.signup_page a:hover {
  text-decoration: none;
}
#PlainContent {
  padding-top: 15%;
  padding-left: 25%;
  width: 60%;
}
#PlainContent h1 {
  font-weight: 400;
  font-size: 30px;
}

.content {
  line-height: 2.5rem;
}

#form-container {
  width: 35%;
  padding-left: 1%;
}

#form-container {
  min-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-container form {
  width: 100%;
  padding: 20px;
  padding-right: 0px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%),
    0 1px 4px rgb(0 0 0 / 10%);
}

#form-container form label input {
  padding: 12px;
  width: calc(100% - 30px);
  border: solid 1px #0000003e;
  border-radius: 5px;
  font-size: 13px;
}

#form-container form label:nth-child(1) h4,
#form-container form label:nth-child(2) h4,
#form-container form label:nth-child(3) h4 {
  margin-bottom: 5px;
  margin-top: 10px;
}

#form-container form label:nth-child(4) {
  display: flex;
}

#form-container form label:nth-child(4) input {
  width: 15%;
  margin: 13px 0px;
}
#opt {
  display: inline;
  margin-right: 10px;
  padding-bottom: 50px;
}

#signupbutton {
  width: 95%;
  margin-top: 10px;
  padding: 3px 0px;
  background-color: #009dff;
  border: solid 1px #009dff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 18px;
  font-weight: 420;
}

#signupbutton:hover {
  background-color: #018ce3;
}

.copy {
  background-color: transparent;
  border: none;
  padding: 5px 0px;
  margin: 0px 10px 0px 0px;
  text-decoration: underline;
  color: #097cff;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}
.copy:active {
  border-bottom: solid 2px black;
  text-decoration: none;
}
#loginRedirect {
  left: 3%;
}

@media (max-width: 1500px) {
  .signup_page {
    padding-top: 8%;
    margin-left: 2%;
    width: 95%;
  }
}
@media (max-width: 1300px) and (min-width: 780px) {
  #PlainContent {
    padding-top: 15%;
    /* border: 1px solid red; */
    padding-left: 5%;
    width: 60%;
  }
}
@media (max-width: 780px) and (min-width:480px) {
  #signuprow {
    /* border: 1px solid red; */
    margin-left: 100px;
    position: absolute;
    top: 60px;
    left: -50px;
  }
  .signup_page {
    padding-top: 20%;
    margin-left: 2%;
    width: 95%;
    /* border: 1px solid red; */
  }
  #PlainContent {
    padding-top: 15%;
    /* border: 1px solid rgb(0, 0, 0); */
    padding-left: 0%;
    width: 100%;
  }
  #form-container {
    /* border: 1px solid red; */

    padding-top: 2%;
    width: 100%;
    margin-left: -50px;
  }
}
@media (max-width: 480px) {
  #signuprow {
    /* border: 1px solid red; */
    margin-left: 100px;
    position: absolute;
    top: 60px;
    left: -70px;
  }
  .signup_page {
    padding-top: 20%;
    margin-left: 2%;
    width: 95%;
    /* border: 1px solid red; */
  }
  #PlainContent {
    padding-top: 15%;
    /* border: 1px solid rgb(0, 0, 0); */
    padding-left: 0%;
    width: 100%;
  }
  #form-container {
    padding-top: 2%;
    width: 100%;
    margin-left:-10px;
  }
}
