body{
    background-color: rgb(228, 227, 227);
    padding-bottom: 500px;
    
}
.signup_page{
    padding-top: 60px;
}

.plaincontent{
    padding :20px;
    margin-left: 20%;
    justify-content: center;
    text-align: left;
    display: inline-block;
}
h1#main{
    font-weight: 300;
}
.content{
    line-height: 2.5rem;
}





.form{
    
    display: inline-block;
    margin-left: 5%;
    margin-top: 3%;
    text-align: center;
}

#signupform{
    position: relative;
    text-align: left;
    border-radius: 5px;
    padding-left: 20px;
   padding-top: 7px;
   background-color: #fff;
   line-height: 1.4rem;
   -webkit-box-shadow: 0 0 10px #cbc1c1;
         box-shadow: 0 0 10px #dad4d4;
   /*box-shadow: 0px 2px 1px #3d3c3c; */

}
#signupform input{
    
    width:260px;
    padding: 7px 7px;
    border: solid 1px rgb(68, 66, 66);
    border-radius: 3px;
}

#signupform input#opt{
    width: auto;
}
#opt{
    display: inline;
    margin-right: 10px;
    padding-bottom: 50px;
}
.promotion{
    position: absolute;
    font-size: small;
    left: 40px;
    bottom: 120px;
    line-height: 1rem;
}

#signupbutton{
    margin-top: 40px;
    height: 35px;
    padding: 5px 115px;
    background-color: rgb(51, 158, 239);
    border: 1px solid rgb(51, 158, 239);
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
}
#signupbutton:hover{
    background-color: rgb(12, 109, 206);
}


#signupformlink{
    text-decoration: none;
    font-size: small;
    color: rgb(0, 89, 255);
}

