.home-container-1 {
  position: fixed;
  height: 100vh;
  width: 12.5%;
  display: flex;
  justify-content: space-between;
  margin: 0% 0%;
  
}
.home-container-1-1 {
  height: auto;
  width: 100%;
  
  position: sticky;
  margin: 60px 0px 0px 0px;
  padding: 0px 0px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow ease-in-out 0.1s, transform ease-in-out;
  transform: translateZ(0);
  box-sizing: border-box;
}

.home-container-2 {
  margin-top: 20px;
  margin-left: 13.5%;

  width: 86%;
  padding: 60px 0px;
  box-shadow: border-box;
  display: flex;
 
}
.home-container-2-1 {
  float: left;
  padding-left: 0px;
  margin-right: 0px;
  position: sticky;
  width:75%;
  display: flex;
  box-shadow: border-box;
  padding-right: 5%;
 

  


}
.home-container-2-2 {
  width: 24.5%;
  border-radius: 5px;
  float: right;
  display: flex;
  
}

.footer-content {
  position: fixed;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f07e0c;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2ea4ed;
}

@media (min-width: 780px) and (max-width: 1300px) {
  .home-container-1 {
    
    top: 65px;
    background-color: #d3d2d2;
    position: fixed;
    height: 50px;
    
    width: 100%;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-content: center;
    margin: 0% 0%;
  }
  .home-container-1-1 {
    height: 50px;
    position: fixed;
    display: flex;
    max-width: 100%;
    position: sticky;
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out;
    transform: translateZ(0);
    box-sizing: border-box;
  }

  .home-container-2 {
    margin-top: 5%;
    margin-left: 0%;
    position: sticky;
    width: 100%;
    padding: 60px 0px;
    box-shadow: border-box;
    display: flex;

  }
  .home-container-2-1 {
    float: left;
    margin-right: 0%;
    position: sticky;
    width: 74%;
    display: flex;
    padding: 20px 24px;
    box-shadow: border-box;
    
  }
  .home-container-2-2 {
    margin-left: 2%;
    width: 25%;
    float: right;
    display: flex;
  }
}

@media (max-width: 785px) {
  .home-container-1 {
    position: fixed;
    background-color: #f69240;
    top: 63px;
    height: 40px;

    width: 100%;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-content: center;
    margin: 0% 0%;
  }
  .home-container-1-1 {
    height: auto;
    position: fixed;
    display: flex;
    max-width: 100%;
    position: sticky;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out;
    transform: translateZ(0);
    box-sizing: border-box;
  }

  .home-container-2 {
    margin-top: 5%;
    margin-left: 0%;
    position: sticky;
    width: 100%;
    padding: 60px 0px;
    box-shadow: border-box;
    display: block;

  }
  .home-container-2-1 {
   
    margin-right: 0%;
    position: sticky;
    width: 100%;
    display: flex;
    display: block;
    padding: 10% 1%;
    box-shadow: border-box;
   
  }
  .home-container-2-2 {
    margin:2% 0% 5% 0%;
    width: 100%;
    border-radius: 20px;
    display: block;
    padding: 5% 1%;
    
  }
}


.footer {
  background: linear-gradient(36deg, #ff9933, #fff, rgb(2, 99, 2));
  margin-top: 15%;
  margin-left: 13.4%;
  width: 86%;
  height: 32px;
  

  
}
.footer-1 p {
  
  padding-left: 38%;
  font-size: 18px;
  color: rgb(2, 99, 2);
}

.footer-2 {
  color: #ff9933;
  padding-left: 42%;
  
}

.footer a {
  font-weight: 600;

  color: #f7991f;
}
.footer a:hover {
  color: rgb(0, 0, 0);
  transition: 0.3s;
  text-decoration: none;
}

@media (min-width: 781px) and (max-width: 1300px) {
  
  .footer {
    background: linear-gradient(36deg, #ff9933, #fff, rgb(2, 99, 2));

    margin-left: 0%;
    width: 100%;
    height: fit-content;
   

   
  }
  .footer-1 p {
    padding-left: 42%;
    font-size: 18px;
    color: rgb(2, 99, 2);
  }

  .footer-2 {
    color: #ff9933;
    padding-left: 42%;
  }

  .footer a {
    font-weight: 600;

    color: #f7991f;
  }
  .footer a:hover {
    color: rgb(22, 244, 74);
    transition: 0.3s;
    text-decoration: none;
  }
}

@media (max-width: 800px) {
  .footer {
    display: none;
  }
}
