.home-container-1 {
  position: fixed;
  height: 100vh;
  width: 12%;
  display: flex;
  justify-content: space-between;
  margin: 0% 0%;
}
.home-container-1-1 {
  height: auto;
  width: 100%;
  
  position: sticky;
  margin: 40px 0px 0px 0px;
  padding: 0px 0px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow ease-in-out 0.1s, transform ease-in-out;
  transform: translateZ(0);
  box-sizing: border-box;
}

.home-container-2 {
  margin-top: 20px;
  margin-left: 13.5%;

  width: 86%;
  padding: 60px 0px;
  box-shadow: border-box;
  display: flex;
}
.home-container-2-1 {
  float: left;
  margin-right: 0%;
  position: sticky;
  width: 74%;
  display: flex;
  box-shadow: border-box;

}
.home-container-2-2 {
  width: 25%;
  float: right;
  display: flex;
}

.footer-content {
  position: fixed;
}

::-webkit-scrollbar {
  width: 7px;
}


::-webkit-scrollbar-track {
  background: #ffffff;
}


::-webkit-scrollbar-thumb {
  background: #f69240;
  border-radius: 5px;
  width: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #009dff;
  transition: 0.2s;
}


@media (min-width: 780px) and (max-width: 1300px) {
  .home-container-1 {
    top: 55px;
    background-color: #d3d2d2;
    position: fixed;
    height: 47px;
    
    width: 100%;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-content: center;
    margin: 0% 0%;
  }
  .home-container-1-1 {
    height: auto;
    position: fixed;
    display: flex;
    max-width: 100%;
    position: sticky;
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out;
    transform: translateZ(0);
    box-sizing: border-box;
  }

  .home-container-2 {
    margin-top: 5%;
    margin-left: 0%;
    position: sticky;
    width: 100%;
    padding: 60px 0px;
    box-shadow: border-box;
    display: flex;

  }
  .home-container-2-1 {
    float: left;
    margin-right: 0%;
    position: sticky;
    width: 74%;
    display: flex;
    padding: 20px 24px;
    box-shadow: border-box;
    
  }
  .home-container-2-2 {
    margin-left: 2%;
    width: 25%;
    float: right;
    display: flex;
  }
}

@media (max-width: 780px) {
  .home-container-1 {
    position: fixed;
    background-color: #f69240;
    top: 60px;
    height: 40px;

    width: 100%;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-content: center;
    margin: 0% 0%;
  }
  .home-container-1-1 {
    height: auto;
    position: fixed;
    display: flex;
    max-width: 100%;
    position: sticky;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out;
    transform: translateZ(0);
    box-sizing: border-box;
  }

  .home-container-2 {
    margin-top: 5%;
    margin-left: 0%;
    position: sticky;
    width: 100%;
    padding: 60px 0px;
    box-shadow: border-box;
    display: block;

  }
  .home-container-2-1 {
   
    margin-right: 0%;
    position: sticky;
    width: 100%;
    display: flex;
    display: block;
    padding: 10% 0%;
    box-shadow: border-box;
   
  }
  .home-container-2-2 {
    margin-top: 2%;
    width: 80%;
    border-radius: 20px;
    display: block;
    margin-right: 10%;
    margin-bottom: 5%;
  }
}


.footer {
  background: linear-gradient(36deg, #ff9933, #fff, rgb(2, 99, 2));
 
  margin-left: 13.4%;
  width: 86%;
  height: fit-content;
  border-radius: 5px;

  
}
.footer-1 p {
  padding-left: 42%;
  font-size: 18px;
  color: rgb(2, 99, 2);
}

.footer-2 {
  color: #ff9933;
  padding-left: 42%;
}

.footer a {
  font-weight: 600;

  color: #f7991f;
}
.footer a:hover {
  color: rgb(22, 244, 74);
  transition: 0.3s;
  text-decoration: none;
}

@media (min-width: 781px) and (max-width: 1300px) {
  
  .footer {
    background: linear-gradient(36deg, #ff9933, #fff, rgb(2, 99, 2));

    margin-left: 0%;
    width: 100%;
    height: fit-content;
    border-radius: 5px;

   
  }
  .footer-1 p {
    padding-left: 42%;
    font-size: 18px;
    color: rgb(2, 99, 2);
  }

  .footer-2 {
    color: #ff9933;
    padding-left: 42%;
  }

  .footer a {
    font-weight: 600;

    color: #f7991f;
  }
  .footer a:hover {
    color: rgb(22, 244, 74);
    transition: 0.3s;
    text-decoration: none;
  }
}

@media (max-width: 780px) {
  .footer {
    display: none;
  }
}
